[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.2"
numpy = "==2.0.0"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "==8.2.2"
black = "==24.4.2"
